.modal-overlay-default {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  @media screen and (min-width: 744px) and (max-width: 1439px) {
    background-color: rgba(248, 248, 248, 0.75);
  }
  @media screen and (min-width: 1440px) {
    background-color: rgba(248, 248, 248, 0.75);
  }
}

.modal-content-default {
  position: fixed;
  top: 40px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  width: 100%;
  padding: 0 16px;
  max-width: 390px;
  min-width: 320px;
  border-radius: 4px;
  background-color: #fbfbfb;
  outline: none;
  max-height: calc(100% - 80px);
  overflow-y: auto;
  @media screen and (min-width: 744px) and (max-width: 1439px) {
    max-width: 664px;
    max-height: calc(100% - 64px);
    top: 32px;
    padding: 0;
  }
  @media screen and (min-width: 1440px) {
    max-width: 872px;
    max-height: calc(100% - 80px);
    top: 50px;
    padding: 0;
  }
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: #e7eaf6;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: #e7eaf6;
    margin-top: 40px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #dbd8e3;
    opacity: 0.6;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 1000;
}

@media screen and (min-width: 744px) and (max-width: 1439px) {
  .closeIcon {
    top: 32px;
    right: 59px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .closeIcon {
    top: 48px;
    right: 80px;
    width: 24px;
    height: 24px;
  }
}
