.modal-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* 566 divided by 1440 */
  padding: 0 16px;
  /* max-height: calc(100vh - 100px); */
  /* overflow-y: auto; */
  max-width: 390px;
  min-width: 320px;
  background-color: #fbfbfb;
  /* border-radius: 30px; */
  outline: none;
  /* &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: #dfd3d3;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: #dfd3d3;
    margin-top: 40px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #8a8a89;
    opacity: 0.6;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
  @media screen and (max-width: 768px) {
    min-width: 320px;
    padding: 1.75rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 3.75rem;
  }
}
