.bm-icon {
  fill: #f4c343;
  transition: fill 0.3s;
}

.bm-icon:hover {
  fill: #f4c343; /* Change this to the desired hover color */
}

@supports (height: 100dvh) {
  .full-viewport-height {
    height: 100dvh;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.bmMenu {
  transition: height 0.3s ease;
}

/* animation for burger icon */

.burger-icon {
  position: absolute;
  top: 40px;
  right: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  z-index: 11001;
  @media (min-width: 768px) {
    top: 17px;
    right: 40px;
    width: 32px;
    height: 32px;
  }
  @media (min-width: 1440px) {
    top: 71px;
    right: 72px;
    width: 40px;
    height: 40px;
  }
}

.burger-line {
  position: absolute;
  width: 18px;
  height: 1.5px;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  hover {
    background-color: #f4c343;
  }
  @media (min-width: 768px) {
    width: 24px;
    height: 2.5px;
  }
  @media (min-width: 1440px) {
    width: 30px;
    height: 3.5px;
  }
}

/* Line positions for closed state */
.burger-line:nth-child(1) {
  top: 4px;
  @media (min-width: 768px) {
    top: 5px;
  }
  @media (min-width: 1440px) {
    top: 6.5px;
  }
}

.burger-line:nth-child(2) {
  top: 10.5px;
  @media (min-width: 768px) {
    top: 14.75px;
  }
  @media (min-width: 1440px) {
    top: 18.25px;
  }
}

.burger-line:nth-child(3) {
  top: 17.5px;
  @media (min-width: 768px) {
    top: 24.5px;
  }
  @media (min-width: 1440px) {
    top: 30px;
  }
}

/* Animation for the open menu */
.burger-open .burger-line:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.burger-open .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-open .burger-line:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.burger-icon:hover .burger-line {
  background-color: #f4c343;
}
