.bm-icon {
  fill: #f4c343;
  transition: fill 0.3s;
}

.bm-icon:hover {
  fill: #f4c343; /* Change this to the desired hover color */
}

@supports (height: 100dvh) {
  .full-viewport-height {
    height: 100dvh;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.bmMenu {
  transition: height 0.3s ease;
}
