.modal-overlay {
  position: fixed;
  z-index: 1200;
  top: 80px;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 80px);
  background-color: #ffffff;
  overflow: hidden;
  /* @media screen and (min-width: 768px) {
    background-color: rgba(248, 248, 248, 0.75);
  } */
}

.modal-content {
  position: absolute;
  top: 8px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  width: calc(100% - 24px);
  padding-top: 73px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 106px;
  max-width: 390px;
  min-width: 320px;
  max-height: calc(100vh - 96px);
  overflow-y: auto;
  border-radius: 4px;
  background-color: #d9d9d9;
  outline: none;
  /* @media screen and (min-width: 744px) {
    max-width: 560px;
    padding: 48px 60px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 853px;
    padding: 48px 168px;
    top: 140px;
  } */
  /* &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: #dfd3d3;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: #dfd3d3;
    margin-top: 40px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #8a8a89;
    opacity: 0.6;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
  /* @media screen and (max-width: 768px) {
    min-width: 320px;
    padding: 1.75rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 3.75rem;
  } */
}

.close-container {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 20px;
  line-height: 29.38px;
  color: #ffffff;
}

.closeIconMobile {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* @media screen and (min-width: 768px) {
  .closeIcon {
    top: 48px;
    right: 20px;
  }
  @media screen and (min-width: 1440px) {
    .closeIcon {
      top: 48px;
      right: 80px;
    }
  }
} */
